@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html,
body {
  background-color: #3A4A69 !important;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.arrow {
  color: #3A4A69;
  text-align: center;
  font-size: 43px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 20px;
}


@media screen and (max-width: 1112px) { 
 body {
   background-color: #ffffff !important;
 }
}

@media screen and (max-width: 480px) {
   body{
    background-color: #ffffff !important;
    border:  20px solid #5A6899;
  }
}




